* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  list-style: none;
  border: 0;
}

hmtl,
body {
    scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}
#nav {
  width: 100%;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.25%;
}
.left {
  width: 17%;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-evenly;
}
.left img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.left h3 {
  font-size: 17px;
  display: inline;
  font-weight: 600;
}

.center {
  width: 72%;
  /* height: 50px;
  display: flex;
  align-items: center;
  background-color: #e4e4e6;
  border-radius: 55px;
  justify-content: space-evenly; */
}
.inputcontainer{
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 9999px;
    background-color: rgb(228 228 231);
}
.input{
    width: 100%;
    position: relative;
}
.searchdata{
    display: none;
    z-index: 10;
    width: 90%;
    min-height: 20vh;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 47%; 
    transform: translateX(-50%); 
    border-radius: 0.375rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
}
#searchinput{
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    font-weight: semibold;
    width: 100%;
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    border-radius: 50px;
}
#close-btn i{
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    background-color: rgb(113 113 122);
}
.input i:focus{
    display: block;
}
.res{
    z-index: 11;
    display: flex; 
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem; 
    cursor: pointer;
    transition: all ease 0.3s;
}
.res:hover{
    background-color: silver;
}
.res h3{
    width: 100%;
    font-weight: 500; 
}
.inputcontainer button{
    white-space: nowrap;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    border-radius: 9999px; 
    border-left-width: 2px; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 600; 
    border-color: rgb(228 228 231);
    transition: all ease 0.3s;
}
.inputcontainer button:hover{
    background-color: rgb(228 228 231);
}


.right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 11%;
}
.right img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.804);
}
.container {
    padding: 0 10.5%;
    padding-top: 3vh;
    width: 100%;
    margin: auto;
    columns: 5;
    column-gap: 20px;
  }
  .container .box {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    break-inside: avoid;
    border-radius: 15px;
  }
  .container .box img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    transition: all ease 0.5s;
  }
  .container .box img:hover {
    transform: scale(1.025);
  }
  
  img:hover {
    opacity: 0.95;
  }
  
  .caption {
    color: #181717;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Poppins;
    padding: 0 2px;
  }
  
  @media (max-width: 1427px) {
    .container {
      columns: 5;
      width: calc(100% - 40px);
    }
  }
  @media (max-width: 1200px) {
    .container {
      columns: 4;
    }
  }
  
  @media (max-width: 1000px) {
    .container {
      columns: 3;
    }
  
    body {
      overflow-x: hidden;
    }
  }
  
  @media (max-width: 786px) {
    .container {
      columns: 2;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      columns: 1;
    }
  }



  .footer {
    position: relative;
    width: 100%;
    background: #E60023;
    margin-top: 1%;
    min-height: 200px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  